# Ігнорувати налаштування PyCharm/IntelliJ
.idea/

# Кеші та тимчасові файли Python
__pycache__/
*.py[cod]
*.pyo

# Віртуальні середовища
venv/
env/
.venv/

# Логи
*.log

# Кеші тестів
.coverage
.pytest_cache/
nosetests.xml
coverage.xml

# Кеші інструментів
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Артефакти збірки
build/
dist/
*.egg-info/
.eggs/

# Системні файли
.DS_Store
Thumbs.db
